.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Tahoma', 'Segoe UI', sans-serif;
  font-size: 11px;
  background: #d6e7f9;
}
