.window {
  /* Posicionamento e Tamanho Inicial */
  position: absolute;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

  /* Borda principal da janela */
  background-color: var(--color-background-ui);
  max-height: max-content;
}

.resizing {
  transition: all 0.2s ease-in-out;
}

.window.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: calc(100dvh - 27px) !important;
  border-radius: 0;
  box-shadow: none;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  padding: 0 4px;
  background-color: #245DDA;
  background: linear-gradient(to right,
      var(--color-title-bar-inactive-start),
      var(--color-title-bar-inactive-end));
  transition: background 0.1s ease-in-out;
}

.titleBar.active {
  background: linear-gradient(to right,
      var(--color-title-bar-active-start),
      var(--color-title-bar-active-end));
}

.window.active {
  border-color: var(--color-title-bar-active-start);
}

.icon {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.title {
  font-weight: bold;
  font-size: 11px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Cor do texto é cinza por padrão (inativo) */
  color: var(--color-title-bar-inactive-text);
}

.titleBar.active .title {
  /* Fica branco quando a janela está ativa */
  color: var(--color-title-bar-active-text);
}

.windowControls {
  display: flex;
  gap: 4px;
}

.windowButton {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background-ui);

  box-shadow: inset -1px -1px 1px var(--xp-gray-button-shadow);
  color: var(--xp-text-color-dark);
  border-radius: 2px;
}

.windowButton:hover {
  filter: brightness(110%);
}

.windowBody {
  position: relative;
  height: calc(100% - 25px);
  padding-bottom: 2px;
  overflow-y: auto;
  /* border-bottom: 2px solid var(--color-title-bar-inactive-start); */
  border-right: 2px solid var(--color-title-bar-inactive-end);
  border-left: 2px solid var(--color-title-bar-inactive-start);
}

.windowBody::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;
  background: linear-gradient(to right,
      var(--color-title-bar-active-start),
      var(--color-title-bar-active-end));

}

.windowBody.active {
  /*   border-bottom: 2px solid var(--color-title-bar-active-start);*/
  border-right: 2px solid var(--color-title-bar-active-end);
  border-left: 2px solid var(--color-title-bar-active-start);
}

/* Estilo base para todas as alças */
.resizeHandle {
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.2); Descomente para visualizar as alças */
}

/* --- Alças das Bordas --- */
.n,
.s {
  left: 8px;
  right: 8px;
  height: 8px;
  cursor: ns-resize;
}

.e,
.w {
  top: 8px;
  bottom: 8px;
  width: 8px;
  cursor: ew-resize;
}

.n {
  top: -4px;
}

.s {
  bottom: -4px;
}

.e {
  right: -4px;
}

.w {
  left: -4px;
}

/* --- Alças dos Cantos --- */
.ne,
.nw,
.se,
.sw {
  width: 12px;
  height: 12px;
}

.ne {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}

.nw {
  top: -4px;
  left: -4px;
  cursor: nwse-resize;
}

.se {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}

.sw {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}